.App {
	background-color: hsl(229, 57%, 11%);
}

.App-header {
	background: url(./assets/bg-mobile.svg) no-repeat bottom center fixed;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media only screen and (min-width: 730px) {
	.App-header {
		background: url(./assets/bg-desktop.svg) no-repeat center center fixed;
		background-size: cover;
		flex-direction: row;
	}
}
